# replace normal search w/ regex search
regex_search <C-f>
regex_search /
regex_search <C-/>
regex_search <C-S-/>

# when searching, "n" is next and "p" is previous
next_item n
previous_item p

# ctrl^N will look at all results ahead
overview_next_item <C-n>

# open the command bar when pressing any of these
command <C-S-p>
command <C-p>
command :

# zoom with ctrl^+ and ctrl^-
zoom_in <C-S-=>
zoom_in <C-=>
zoom_out <C-S-->
zoom_out <C-->
